PORT=5001
CLOUDFLARE_EMAIL=your-email@example.com
CLOUDFLARE_API_KEY=your-cloudflare-api-key
CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id
CLOUDFLARE_TUNNEL_ID=your-cloudflare-tunnel-id
VPS_DEFAULT_IP=127.0.0.1
